* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 250px;
}

.container h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;
}

.form {
    background-color: grey;
    border-radius: 16px;
    height: 150px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input {
    padding: 4px 8px;
    width: 400px;
    margin-right: 16px;
    border: none;
    outline: none;

}

.form button {
    background-color: green;
    color: white;
    padding: 4px 8px;
    cursor: pointer;
}

#list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: #fff;
    text-align: center;
}

#list li {
    display: flex;
    justify-content: space-around;
    width: 900px;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px 12px;
    border-radius: 8px;
    list-style: none;

}

#error {
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-top: 18px;
    line-height: 32px;
}

.botao-remover {
    font-weight: bold;
    background-color: red;
    color: white;
    padding: 4px 8px;
    display: flex;
    cursor: pointer;
    margin-left: 16px;

}

.botao-editar {
    background-color: yellow;
    font-weight: bold;
    color: black;
    padding: 4px 8px;
    display: flex;
    cursor: pointer;

}


.botao-limpar {
    background-color: darkred;
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 200px;
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 40px;

}

.container-botao {
    display: flex;
    justify-content: end;

}