* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: bisque;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 250px;
}

.container h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;
}

.form {
    background-color: grey;
    border-radius: 16px;
    height: 150px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input {
    padding: 4px 8px;
    width: 400px;
    margin-right: 16px;
    border: none;
    outline: none;

}

.form button {
    background-color: green;
    color: white;
    padding: 4px 8px;
    cursor: pointer;
}

.container ul {
    margin-top: 40px;
    color: #fff;
    width: 400px;
    text-align: center;
}

.container ul li {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4px 8px;
    border-radius: 8px;
    list-style: none;
    margin-bottom: 8px;

}

#error{
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-top: 18px;
    line-height: 32px;
  
}